table{
    width: 70%;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}
th{
    background-color: #008080;
    color: white;
    font-size: 18px;
}
tr{
    height: 40px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
tr:hover{
    background-color: #FBFAF9;
}