form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 20px;
    margin: auto;
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  form > input,
  select {
    height: 30px;
    margin-top: 10px;
    border: 1px solid #bababa;
  }
  form > input:last-child:hover {
    cursor: pointer;
  }